<header>
    <ul class="Accueil">
        <li>Accueil</li>
        <li>Nos produits</li>
        <li>Vos locations</li>
    </ul>
    <ul class="Cathy">
        <li>Cathy</li>
        <li>LE PRINCE/li>
    </ul>
</header>