<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
    <h1>Erreur 404</h1>
    <h3>Ah, ben bravo !</h3>
    <h3>Vous avez tout cassés</h3>
    <h4>au passage je suis une théière</h4>
</body>

</html>

<style>
    body{
        background-color: #FFF3D4;
        font-family: 'Poppins', sans-serif;
    }
</style>