<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/CSS/style.administration.css">
    <title>Administration - LocaFit</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="public/img/Logo_locafit.png" alt="Logo" class="logo-image">
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="produits.html">Nos Produits</a></li>
            <li><a href="locations.html">Vos Locations</a></li>
        </ul>
        <div class="account">
            <a href="compte.html">
                <img src="public/img/profil.png" alt="Compte Client" class="account-icon">Cathy LePrince
            </a>
        </div>
    </nav>

    <div class="container">
        <section class="product">
            <div class="product-details">
                <div class="title-container">
                    <h2>Administration du site</h2>
                </div>

                <!-- Gestion des utilisateurs -->
                <div class="info-section">
                    <p class="title">Gestion des utilisateurs</p>
                    <button class="rent-button">Ajouter un utilisateur</button>
                    <button class="rent-button">Supprimer un utilisateur</button>
                </div>

                <!-- Gestion des produits -->
                <div class="info-section">
                    <p class="title">Gestion des produits</p>
                    <button class="rent-button">Ajouter un produit</button>
                    <button class="rent-button">Modifier un produit</button>
                    <button class="rent-button">Supprimer un produit</button>
                </div>

                <!-- Formulaire pour envoyer un message à l'équipe technique -->
                <div class="info-section">
                    <p class="title">Envoyer un message à l'équipe technique</p>
                    <form action="#" method="post">
                        <textarea name="message" placeholder="Votre message" rows="5" style="width: 96%; padding: 10px; margin-bottom: 10px;"></textarea>
                        <br>
                        <button class="rent-button" type="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <footer>
        <p>&copy; Contact & Conditions d’utilisation 2024 LocaFit - Tous droits réservés</p>
    </footer>
</body>

</html>
