<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    

    <div class="Connnexion">
        <p>Identifiant</p>

        <p>Mots de passe</p>

    </div>

    <footer>
        <ul>
            <li>Contact</li>
            <li>Condition d’utilisation</li>
            <li>2024 LocaFit - Tous droits réservés</li>
        </ul>
    </footer>
</body>
</html>