<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/CSS/style.contact.css">
    <title>Location de Matériel</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="public/img/Logo_locafit.png" alt="Logo" class="logo-image">
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="produits.html">Nos Produits</a></li>
            <li><a href="locations.html">Vos Locations</a></li>
        </ul>
        <div class="account">
            <a href="compte.html">
                <img src="public/img/profil.png" alt="Compte Client" class="account-icon">Cathy LePrince
            </a>
        </div>

    </nav>



    <div class="container">
        <section class="product">
            <div class="product-details">
                <div class="title-container">
                    <h2>CONTACT</h2>
                </div>
                <p class="title">Email</p>
                <p class="descr">LocaFit@gmail.com</p>
                <p class="title">Numéro</p>
                <p class="descr">00.00.00.00.00</p>
                <p class="title">Createur site</p>
                <p class="descr">Quentin Moenner  -  Maël Quilgars  -  Corentin LE GALL</p>
                <p class="title">Nos CV</p>
                <button class="rent-button">Quentin Moenner</button>
                <button class="rent-button">Maël Quilgars</button>
                <button class="rent-button">Corentin LE GALL</button>
            </div>
        </section>

    </div>
    <footer>
        <p>&copy; Contact & Condition d’utilisation
            2024 LocaFit - Tous droits réservés</p>
    </footer>
</body>

</html>