<footer>
    <div class="footer-content">
        <ul class="footer-links">
            <li><a href="contact et condition d'utilisation.html">Contact et condition d'utilisation</a></li>
        </ul>
        <p>&copy; 2024 LocFit. Tous droits réservés.</p>
    </div>
</footer>

<style>
    footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    z-index: 1000;
    right: 0;
    left: 0;
    width: 100%;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;
    font-size: 14px;
}

</style>