<header>
    <ul class="Accueil">
        <li><a href="index.ejs">Accueil</a></li>
        <li><a href="catalogue.ejs">Catalogue</a></li>
        <li><a href="contact.ejs">Contact</a></li>
        <li><a href="connexion.ejs">Connexion</a></li>
    </ul>
</header>