<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locfit</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <%- include('header') %>
    <div class="Text-Bienvenue">
        <h1 class="Bienvenue-chez-LocFit">
            Bienvenue chez LocFit,
               </h1>

        <p>
            Votre partenaire de confiance pour la location de matériel sportif et de fitness ! </p></br>
            Que vous soyez un amateur de sport ou un professionnel, nous mettons à votre disposition une large gamme</br>
            d’équipements modernes et de qualité, adaptés à tous vos besoins.</br></br>

            Vous souhaitez vous équiper pour vos séances à domicile, votre salle de sport, ou pour un événement sportif ?</br>
            LocaFit vous propose des solutions flexibles et abordables, sans compromis sur la performance.</br>
        </p>

        <bouton> Nos starter pack</bouton>
        <bouton> Nos offres du moments</bouton>
    </div>
    <%- include('footer') %>
</body>

</html>