<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>location</title>   
</head>
<body>
    <%- include('header') %>

    <!-- Liste de produits -->
    <div class="product-list">


        <h1 class="presentation">voila les location que vous avez fait sur LocFit
        </h1>

        <!-- 40 produits -->
        <div class="product-item">
            <img src="https://via.placeholder.com/200" alt="Produit 1">
        
            <div class="container_info">            
                <div class="product-title">Produit 1</div>
            </div>
        
            <!-- Lieu de location -->
            <div class="product-location">Lieu: LocFit de Lannion</div>
        
            <!-- Conteneur pour les dates -->
            <div class="product-dates">
                <div class="product-date-start"><strong>Date de location: 01/10/2024</strong></div>
                <div class="product-date-end"><strong>Date de rendu: 05/10/2024</strong></div>
            </div>
        
            <div class="product-description">tout retard sera sanctionner par une interdiction de daber pendans 5 ans et 6 mois de cramptées d'intérets généraux</div>
        </div>


        
</body>



<style>
body {
    color: blueviolet;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF3D4;
}
   


.presentation {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Conteneur pour la liste de produits */
.product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

/* Cartes de produits */
.product-item {
    background-color: #A8D5BA;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Style pour le titre du produit */
.product-title {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    background-color: #A8D5BA;
    text-align: center;
}

/* Style pour le lieu de location */
.product-location {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    text-align: center;
    background-color: #FFF3D4;
}

/* Conteneur des dates */
.product-dates {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #A8D5BA;
}

/* Style pour les dates */
.product-date-start, .product-date-end {
    font-size: 14px;
    color: #555;
    background-color: #F4C6C3;
    border-radius: 15px;
    width: 45%;
    text-align: center;
    padding: 3px;

}

/* Description du produit */
.product-description {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    padding: 3px;
    border-radius: 1px;

}

/* Effet au survol */
.product-item:hover {
    transform: scale(1.05);    
}


</style>

</html>
