<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/script.js"></script>
    <title>Location de Matériel</title>
</head>

<body>
    <%- include('header') %>



        <div class="container">
            <header>
                <h1>Location de Matériel</h1>
            </header>

            <section class="product">
                <div class="image-gallery">
                    <button class="nav-button" onclick="changeImage(-1)">&#10094;</button>
                    <img id="mainImage" src="img/tapis-de-course.jpeg" alt="Tapis de course" class="product-image">
                    <button class="nav-button" onclick="changeImage(1)">&#10095;</button>
                </div>
                <div class="thumbnail-gallery">
                    <img src="img/tapis-de-course.jpeg" alt="Tapis de course" class="thumbnail"
                        onclick="setImage(this.src)">
                    <img src="img/tapis-de-course-2.jpeg" alt="Tapis de course 2" class="thumbnail"
                        onclick="setImage(this.src)">
                    <img src="img/tapis-de-course-3.jpeg" alt="Tapis de course 3" class="thumbnail"
                        onclick="setImage(this.src)">
                    <img src="img/tapis-de-course-4.jpeg" alt="Tapis de course 4" class="thumbnail"
                        onclick="setImage(this.src)">
                    <img src="img/tapis-de-course-5.jpeg" alt="Tapis de course 5" class="thumbnail"
                        onclick="setImage(this.src)">
                </div>
                <div class="product-details">
                    <div class="title-container">
                        <h2>TAPIS DE COURSE CONNECTE RUN500</h2>
                    </div>
                    <p class="price">89,9€ / mois</p>
                    <p class="descr">Le tapis de course RUN500 a été conçu pour les sportifs exigeants qui souhaitent un
                        produit
                        performant en usage et facile à ranger après l'entraînement.
                        Tapis de course performant allant jusqu'à 16km/h et inclinaison motorisée à 10%, connecté aux
                        meilleures applications de pratique. Sans montage et avec un pliage compact pour un rangement
                        facile.</p>
                    <button class="rent-button" id="rentButton" onclick="rentProduct()">Louer</button>

                </div>
            </section>

        </div>



        <footer>
            <p>&copy; Contact & Condition d’utilisation
                2024 LocaFit - Tous droits réservés</p>
        </footer>
</body>

<style>
    body {
        background-color: #FFF3D4;
        /* Couleur de fond pour le corps */
        margin: 0;
        /* Supprime la marge par défaut */
        min-height: 100vh;
        /* Prend toute la hauteur de la fenêtre */
        display: flex;
        flex-direction: column;
        /* Permet au footer de se placer en bas */
    }

    .container {
        flex: 1;
        /* Permet à la zone de contenu de prendre tout l'espace restant */
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        /* Change pour distribuer l'espace */
        align-items: center;
        background-color: #A8D5BA;
        /* Couleur de fond */
        padding: 10px 20px;
        /* Espacement intérieur */
    }

    .logo {
        margin-right: 100px;
        /* Espace entre le logo et les liens (augmenté) */
    }

    .logo-image {
        max-width: 100px;
        /* Taille maximale du logo */
    }

    .nav-links {
        list-style: none;
        /* Supprime les puces de la liste */
        display: flex;
        /* Aligne les éléments de la liste en ligne */
        gap: 130px;
        /* Espacement entre les liens */
        flex-grow: 1;
        /* Permet à la liste de prendre tout l'espace disponible */
        justify-content: center;
        /* Centre les liens horizontalement */
        font-size: 25px;
        /* Ajustez la taille de police ici */
    }

    .nav-links a {
        display: flex;
        /* Utilise flex pour centrer le texte */
        align-items: center;
        /* Centre verticalement le texte */
        color: white;
        /* Change la couleur du texte */
        text-decoration: none;
        /* Supprime le soulignement */
        padding: 10px 15px;
        /* Ajoute de l'espacement autour du lien */
    }

    .account a {
        display: flex;
        /* Utilise flex pour centrer le texte */
        align-items: center;
        /* Centre verticalement le texte */
        color: white;
        /* Change la couleur du texte pour qu'elle soit visible */
    }


    .account {
        display: flex;
        /* Permet d'aligner l'image et le texte */
        align-items: center;
        /* Centre verticalement l'image et le texte */
        margin-left: 50px;
        /* Espace entre les liens et le compte client */
        font-size: 24px;
        /* Ajustez la taille de police ici */
    }

    .account a {
        display: flex;
        /* Utiliser flex pour centrer le texte par rapport à l'image */
        align-items: center;
        /* Centre verticalement le texte avec l'image */
        text-decoration: none;
        /* Supprime le soulignement du lien */
        color: white;
        /* Change la couleur du texte pour qu'elle soit visible */
    }


    .account-icon {
        max-width: 80px;
        /* Taille de l'icône (augmentée) */
        margin-right: 10px;
        /* Espace entre l'icône et le texte (augmenté) */
    }



    .product {
        display: flex;
        align-items: flex-start;
    }

    .product-details {
        flex-direction: column;
        padding: 15px;
        background-color: rgba(240, 240, 240, 0.8);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
        width: 80%;
        /* Ajuste la largeur à 80% de la section parent */
        max-width: 600px;
        /* Limite la largeur maximale si nécessaire */
        margin-left: 6%;
    }


    .title-container {
        display: flex;
        justify-content: center;
        /* Centre le titre dans le conteneur */
        width: auto;
        /* Prend toute la largeur disponible */
        margin-bottom: 10px;
        /* Espace en bas pour séparer du prix */
        background-color: rgba(168, 213, 186, 0.5);
        /* Couleur avec transparence */
        border-radius: 10px;
        /* Arrondi des coins */
    }


    .product-details>h2 {
        background-color: #A8D5BA;
        /* Couleur  */
        border-radius: 10px;
        /* Arrondi des coins */
        padding: 10px 15px;
        /* Espacement intérieur */
        margin: 0 0 10px 0;
        /* Marge en bas pour séparer du prix */
        color: #333;
        /* Couleur du texte */
        display: inline-block;
        /* Permet à l'élément de s'ajuster à son contenu */
        width: auto;
        /* Assure que la largeur s'ajuste au contenu */
    }


    .price {
        background-color: #f4c6c3;
        /* Couleur de fond */
        border-radius: 10px;
        /* Arrondi des coins */
        padding: 10px 15px;
        /* Espacement intérieur */
        display: inline-block;
        /* Permet à l'élément de s'ajuster à son contenu */
        margin: 10px 0;
        /* Espace au-dessus et en dessous */
        font-size: 24px;
        /* Ajustez la taille de police ici */
    }

    .descr {
        font-size: 20px;
        /* Ajustez la taille de police ici */
        font-family: Arial, sans-serif;
    }


    .product-details p {
        margin: 10px 0;
        /* Espacement autour de la description */
        line-height: 1.5;
        /* Espacement entre les lignes pour une meilleure lisibilité */
    }

    .thumbnail-gallery {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10px;
        /* Peut-être ajouter un peu plus de marge si nécessaire */

    }

    .image-gallery {
        align-items: center;
        margin-right: 20px;
        margin-left: 10%;
    }

    .nav-button {
        background-color: #3498db;
        color: white;
        border: none;
        padding: 10px;
        font-size: 1.5em;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .nav-button:hover {
        background-color: #2980b9;
    }

    #mainImage {
        max-width: 500px;
        margin: 10px 0;
    }

    .thumbnail {
        max-width: 90px;
        height: auto;
        margin: 0 5px;
        cursor: pointer;
        border: 2px solid transparent;
        transition: border-color 0.3s;
    }

    .thumbnail:hover {
        border-color: #3498db;
    }

    .product-details {
        flex: 1;
        margin-top: 20px;
    }

    .rent-button {
        background-color: #f4c6c3;
        /* Couleur de fond */
        border: none;
        /* Supprime la bordure */
        border-radius: 25px;
        /* Arrondi des coins */
        padding: 10px 20px;
        /* Espacement intérieur */
        color: black;
        /* Couleur du texte */
        cursor: pointer;
        /* Change le curseur au survol */
        transition: background-color 0.3s;
        /* Ajoute une transition pour le survol */
        margin-top: 15px;
        /* Espace au-dessus du bouton */
        font-size: 24px;
        /* Ajustez la taille de police ici */
    }

    .rent-button:hover {
        background-color: #e0b3b1;
        /* Change la couleur au survol */
    }


    footer {
        background-color: #41403F;
        /* Couleur de fond pour le footer */
        color: white;
        /* Couleur du texte */
        text-align: center;
        /* Centre le texte */
        padding: 15px 0;
        /* Espacement vertical */
    }
</style>

</html>